:root {
    background-color: rgb(104, 126, 140);
    --headers: rgba(0, 0, 0, 0.80);
    --info: #fff;
    --backgrounds: rgb(23, 191, 232);
    --dark-blue: darkblue;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.topPage {
    display: block;
    width: 100%;
    height: 400px;
}

.navBar {
    display: flex;
    width: 100%;
    height: 75px;
    background-color: rgba(0, 0, 0, 0.80);
    justify-content: space-between;
    margin-bottom: 0;
}

.title {
    width: 25%;
    height: 50px;
    background-color: var(--backgrounds);
    color: var(--headers);
    font-size: 1.8rem;
    margin-top: 12.5px;
}

.title h1 {
    margin-top: 0;
    float: right;
    margin-right: 10px;
}

.navBar ul {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-wrap: wrap;
}

.navBar li {
    display: inline;
    list-style: none;
    color: var(--backgrounds);
    margin: 20px ;
    font-size: 1.2rem;
    font-weight: 700;
    text-decoration: underline;
}

.navBar li a {
    color: inherit;
}

.navBar li a:visited {
    color: inherit;
}

.navBar li a:hover {
    cursor: pointer;
    color: #e66465;
}

.headerPhoto {
    width: 100%;
    height: 300px;
    background: linear-gradient(#1cd438, #dc1bb5);;
    margin-top: 0;
}

.headerPhoto h2 {
    margin-top: 5px;
    margin-bottom: 0;
}

.h2div {
    width: 25%;
    height: 40px;
    float: right;
    margin-top: 200px;
    margin-right: 75px;
    color: var(--info);
    text-align: center;
}

.aboutMe {
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 75px;
    margin-top: 20px;
}


.aboutMe h2 {
    font-size: 2.75rem;
    color: var(--dark-blue);
    opacity: 0.70;
    margin-top: 0;
    width: 200px;
    margin-right: 20px;
    text-align: right;
    margin-left: 80px;
}

.infoContainer {
    width: 65%;
    border-left: 4px solid var(--dark-blue);
    padding-left: 40px;

}

.infoContainer p {
    margin-top: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.projects {
    display: inline-flex; 
    width: 100%;
    margin-bottom: 50px;
    flex-direction: row;
    
}

.projectsHeader {
    border-right: 4px solid var(--dark-blue);
    margin-right: 20px;
}

.projectsHeader h2 {
    font-size: 2.75rem;
    color: var(--dark-blue);
    opacity: 0.70;
    margin-top: 0;
    width: 200px;
    margin-left: 80px;
    margin-right: 20px;
    text-align: right;

}

.images {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
    justify-content: center;
}

.imgContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.imgBox{
    border: 5px solid var(--backgrounds);
    margin: 5px;
    width: 450px;
    height: 225px;
}

#img1{
    background-image: url('./assets/surf.png');
    width: 920px;
    height: 450px;
    background-size: 100%;
}

#img2 {
    background-image: url('./assets/calculator.png');
}

#img3 {
    background-image: url('./assets/led.png');
}

#img4 {
    background-image: url('./assets/puzzle.png');
}

#img5 {
    background-image: url('./assets/run.png');
}

.textBox {
    width: 160px;
    height: 75px;
    background-color: var(--backgrounds);
    color: var(--dark-blue);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
}



.contact {
    display: inline-flex;
    width: 100%
}

.contactHeader h2 {
    font-size: 2.75rem;
    color: var(--dark-blue);
    opacity: 0.70;
    margin-top: 0;
    width: 200px;
    margin-left: 80px;
    margin-right: 20px;
    text-align: right;
    border-right: 4px solid var(--dark-blue);
    padding-right: 20px;
}

.contactList {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contactList ul {
    display: inline-flex;
    flex-wrap: wrap;
    padding: 0;
}

.contactList li {
    list-style: none;
    color: var(--backgrounds);
    margin: 20px ;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: underline;
}

.contactList li a {
    color: var(--backgrounds);
}

.contactList li a:visited {
    color: inherit;
}

.contactList li a:hover {
    color: #e66465;
    cursor: pointer;
}

h3 {
    padding-top: 17%;
    text-align: center;
}
/* media queries for different screen sizes */
@media only screen and (max-width: 1300px)  {
    .h2div h2 {
        font-size: .7 rem;
    }
}

@media only screen and (max-width: 990px)  {
    .h2div h2 {
        font-size: 0.9rem;
    }
    .title h1 {
        font-size: 1.6rem;
        margin-top: 10px;
    }

    .aboutHeader h2, .projectsHeader h2, .contactHeader h2 {
        font-size: 1.7rem;
        border-right: none;
    }
    .infoContainer, .projectsHeader {
        border-right: none;
        border-left: none;
    }
    .aboutMe, .projects, .contact {
        display: block;

    }
}

@media only screen and (max-width: 780px)  {
    .title h1 {
        font-size: 1rem;
        text-align: right;
        margin-top: 10px;
    }
     .navBar {
        height: 115px;
     }

    .h2div h2 {
        font-size: 0.8rem;
    }

}