* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header nav {
    background-color: lightblue;
    display: block;
}

.header h1 {
    background-color: darkcyan;
    color: white;
    height: 60px;
    width: 300px;
    font-size: 40px;
    text-align: end;
    padding: 10px 20px 0 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.header ul {
    position: absolute;
    top: 20px;
    right: 30px;
    color: black;
    font-size: 20px;
}

.header a:visited {
    color: black
}

.header li {
    display: inline;
    margin: 15px;
    text-decoration: underline;
}

.header h2 {
    position: absolute;
    color: antiquewhite;
    top: 300px;
    right: 20px;
    font-size: 40px;
    margin-right: 30px;
}

.headerphoto {
    height: 300px;
    width: 100%;
}

.about {
    margin-top: 5vh;
    min-height: 1vh;
}

.aboutme {
    display: flex;
    position: absolute;
    font-size: 50px;
    width: 10%;
    text-align: right;
    margin-left: 10%;
}

.vl {
    border-left: 6px solid black;
    height: 170px;
    position: absolute;
    left: 22%;
}

.description {
    display: flex;
    position: absolute;
    left: 25%;
    right: 10%;
}

.mywork {
    display: flex;
    position: absolute;
    font-size: 50px;
    margin-left: 11%;
    margin-top: 22%;
}

.vl2 {
    border-left: 6px solid black;
    height: 630px;
    position: absolute;
    left: 22%;
    margin-top: 22%;
}

.cards {
    position: absolute;
    margin-top: 45%;
}

.card {
    position: absolute;
    height: 180px;
    width: 400px;
    border: 5px solid lightblue;
    margin: 5px;
}

.cardtext {
    position: absolute;
    background-color: lightblue;
    margin-top: -70px;
    margin-left: 10px;
    padding: 5px;
}

.card3text {
    position: absolute;
    background-color: lightblue;
    margin-top: -70px;
    margin-left: 39.5%;
    padding: 5px;
}

#card1 {
    /* display: flex; */
    height: 220px;
    width: 815px;
}

.contact {
    display: flex;
    position: absolute;
    font-size: 50px;
    margin-left: 8%;
    margin-top: 72%;
    text-align: right;
    width: 10%; 
}

.vl3 {
    border-left: 6px solid black;
    height: 150px;
    position: absolute;
    left: 22%;
    margin-top: 72%;
}

.socials {
    position: absolute;
    left: 25%;
    color: black;
    font-size: 20px;
    margin-top: 75%;
}

.links {
    display: inline;
    margin: 50px;
    border-bottom: 3px solid black;
}

@media screen and (max-width: 1138px) {
    .header h1 {
        font-size: 15px;
        height: 40px;
        width: 120px;
    }

    .header ul {
        font-size: 10px;
    }

    .headerphoto {
        height: 120px;
        width: 120%;
    }

    #card1 {
        height: 150px;
        width: 350px;
    }
    
    .about {
        min-height: 50vh;
    }

    .vl {
        display: none;
    }

    .aboutme {
        left: 30px;
        font-size: 20px;
    }

    .card3text {
    position: absolute;
    background-color: lightblue;
    margin-top: -70px;
    margin-left: 10px;
    padding: 5px;
    }
}
